<p id="notice"><%= notice %></p>
<div class="center">
    <h1>Posts</h1>
    <%= link_to 'New Post', new_blog_path, class:"btn btn-info" %>
</div>
                        <% @blogs.each do |blog| %>
                            <div class="container">
                            <% if blog.user.profile == nil %>
                            <p><%= image_tag 'pro1.jpg', class:"rounded-circle1" %>
                            <%= blog.user.name %>
                        <% else %>
                            <% if blog.user.profile.image? %>
                            <p><%= image_tag blog.user.profile.image.url, class:"rounded-circle1" %>
                            <%= blog.user.email %>
                            </p>
                            <% end %>
                        <% end %>
                        <% if blog.image.url %>
                        
                        <%= image_tag blog.image.url, class:"image2" %>
                        <p><%= blog.content %></p>
                        <%= link_to 'Show', blog, class:"btn btn-primary" %>
                       
                        <% if blog.user == current_user %>
                        <%= link_to 'Edit', edit_blog_path(blog), class:"btn btn-primary"%>
                        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
                        <% end %>
                        
                   
        </div>
        <% end %>
    <% end %>
